*.jar
target/
.idea/
*.class
*.war
*.ear
out/
bin/


SimpleTest.java

.codecrafters/
codecrafters.yml
codecrafters.yaml
your_program.sh

RegexBenchmark.java
RegexBenchmarkDebug.java
PerformanceVisulaizer.java

src\main\java\RegexBenchmark.java
src\main\java\PerformanceVisualizer.java

performance_report.csv
RESUME_METRICS.txt